.nav {
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  display: inline-block;
}

.nav-item:last-child {
  padding-right: 40px;
}

.nav-link:hover {
  text-decoration: underline;
}
